@use 'variables';

nav{
  box-shadow: 0 0 2px 2px silver;
  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    li{
      padding: 1rem;
      a{
        text-decoration: none;
      }
    }
  }

}
